.banner{
    width: 100%;
    height: 80vh;
    background-color: lightgray;


display: flex;
justify-content: center;
align-items: center;
background: url(../../../assets/images/onur-binay-_yC2htzMYnI-unsplash.jpg);
background-size: cover;
}
.banner h2{
    font-size: 5em;
    color: #fff;
text-shadow: 0 0 30px red;
}