<header>
  <h2>devlinks</h2>
  <ul>
    <li><a routerLink="">links</a></li>
    <li><a routerLink="">about us</a></li>
    <li><a routerLink="">products</a></li>
    <li><a routerLink="">blog</a></li>
    <li><a routerLink="">contact us</a></li>
  </ul>
</header>
<app-home></app-home>
<footer>
  <div class="sec">
    <h2>My application</h2>
    <p>this application is developed by mohamed dheker laadhibi</p>
  </div>
  <div class="sec">
    <h2>navbar links</h2>
    <ul>
      <li><a routerLink="">home</a></li>
      <li><a routerLink="">about us</a></li>
      <li><a routerLink="">products</a></li>
      <li><a routerLink="">blog</a></li>
      <li><a routerLink="">contact us</a></li>
    </ul>
  </div>
  <div class="sec">
    <h2>contact us </h2>
    <ul>
      <li>dhekerlaadhibii@gmail.com</li>
      <li>+21620454874</li>
      <li>linkedin:dheker laadhibi</li>
    </ul>
  </div>
</footer>